.list {
  list-style: none;
  font-size: small;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.list__container {
  display: flex;
  gap: 10px;
}

.list-buttons {
  display: flex;
  gap: 10px;
}
