.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 1rem 2rem;
  text-align: center;
  line-height: 2rem;
  align-items: center;
  margin-top: 2rem;
}

.footer-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
