.footer {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  color: #eee;
  padding: 1rem 2rem;
  text-align: center;
  line-height: 2rem;
  align-items: center;
  margin-top: 2rem;
}

.footer-icon {
  display: flex;
  align-items: center;
}
