.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-items: center;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.switch-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.right__container {
  width: 90%;
}

.left__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.approval,
.edit {
  display: flex;
  gap: 1rem;
}
